<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110844056238-4j3it427nskh0900jgmvqf25igsljof8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110844056238-4j3it427nskh0900jgmvqf25igsljof8</string>
	<key>API_KEY</key>
	<string>AIzaSyA6RIKMdwaHFYrkOz0bRA_ggMXTzpp4fiU</string>
	<key>GCM_SENDER_ID</key>
	<string>110844056238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssgray.pawsome</string>
	<key>PROJECT_ID</key>
	<string>pawsome-d85a3</string>
	<key>STORAGE_BUCKET</key>
	<string>pawsome-d85a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110844056238:ios:313f4cbdc46ed82d02d33f</string>
</dict>
</plist>